@font-face {
font-family: "Amazonas";
src: url("fonts/Amazonas.ttf");
}
@font-face {
font-family: "selawksb";
src: url("fonts/selawksb.ttf");
}


h1 {
    font-family: "Amazonas";
    color: #1f231e;
    font-weight: bold;    
}

table {
    {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
}
td, th {
    padding: 8px;
}
tr:nth-child(odd){background-color: #c8cdce;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3caf34;
    color: black;
}
td {
	 	color: black;
		text-align: center;
        border-bottom: 1px solid #ddd;

}
tr:hover {background-color:#A9A9A9;} 

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px;
}

.header-container {
  display: grid;
  grid-template-columns: 10% 55% 35%;
  padding: 0px;
    background-color: #2e2f30;
    width: 100%;
    height: 60px;
}

.navpar-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
    width: 100%;
    height: 50px;
}
.table-container {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 0px;
    column-width: auto;
}
.times-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}
.header-item {
  padding: 0px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  color: white;
  font-family: "Times New Roman", Times, serif;
    height: 60px;
}

.add {
    background-color: #414444;
    width: 120px;
}
.delete {
    background-color: red;
    width: 120px;

}








div { margin: 5px; }

.styled-select {
   background: url(images/select.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 200px;
     padding: 0px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue    { background-color:#414444; }
.blue select    { color: white; }

button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
}


.btn {
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 15px 30px -12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 15px 30px -12px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 15px 30px -12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 15px 30px -12px rgba(0, 0, 0, 0.2);
  box-shadow: 40px 30px 40px -20px rgba(5, 0, 20, 0.2);
    font-size: 25px;
    text-align: center;
    

}


.btn:hover,
.btn:active,
.btn:focus { outline: none; }

.btn.btn-primary {
    background: #414444;
    color: white; }

.btn.btn-primary:hover {
      border: 4px solid #627bed;
      background: white;
      color: black; }

.p-3 {
    padding: 1rem !important; }
.px-xl-5 {
    padding-right: 1rem !important; }
.px-xl-3 {
    padding-left: 1rem !important; }


 /* unvisited link */

.current-head-href {
    background-color: #3caf34;
    -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px
}

.head-href:link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.head-href:visited {
    color: white;
}

.head-href:hover {
    color: green;
}

.head-href:active {
    color: green;
} 

.p1 {
    font-size: 30px;
    color: black;
    font-family: "selawksb";
    
    
}



/* Add Course optimization */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
    border-radius: 5px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}


.registerbtn:hover {
  opacity:1;
    color: white;
}



/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.academic-position{
     width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
    border-radius: 5px;
  background: #f1f1f1;
}
.grad-date{
     width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
    border-radius: 5px;
  background: #f1f1f1;
}

.text-header{
    text-align: center;
}

.department{
     width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
    border-radius: 5px;
  background: #f1f1f1;
}

.grade{
     width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px;
    border-radius: 5px;
  background: #f1f1f1;
}

label {
    font-size: 23px;
}











.check-box-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-box-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box-container input:checked ~ .checkmark {
    background-color: #45a049;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-box-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-box-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.add-times-container {
    width: 40%;
  display: grid;
  grid-template-columns: 25% 9% 23% 8% 6% 23% 10%;
  padding: 0px;
    column-width: auto;
}











